@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

.sidebar {
  
     flex: 0 0 56px;
     padding-left:0px;
     padding-right:0px;
     svg {
     	width:1.5em !important;
     	height:1.5em !important;
     }
     box-shadow:1px -3px 3px rgba(0,0,0,.15);
     span {
     	padding-left:8px;
     }
     color:#FFF;
     a {
     	color:#FFF;
     }
     a:hover {
     	color:#bfbdbd;
     }
}

@include media-breakpoint-up(sm) { 
	.sidebar {  
	     flex: 0 0 220px;
	}

}
.sidebar-sticky {
	position: sticky;
    top: 0;
    height: calc(100vh);    
    overflow-x: hidden;
    overflow-y: auto;
}
main {
    padding-left:0px !important;
    padding-right:0px !important;
}